*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background: #fdfdfd;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
  color: #222;
}

a {
  color: rgb(50, 100, 166);
}
